<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- Configuración de la base de datos -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/amm?useSSL=false&amp;serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">1026571230</property>

        <!-- Dialecto (tipo de base de datos) -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Mostrar SQL en consola -->
        <property name="hibernate.show_sql">true</property>

        <!-- Actualizar tablas automáticamente -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Clase anotada -->
        <mapping class="Clases.Usuario"/>
        <mapping class="Clases.Cliente"/>
        <mapping class="Clases.EquipoTrabajo"/>
        <mapping class="Clases.Servicio"/>
        <mapping class="Clases.Varios"/>

    </session-factory>
</hibernate-configuration>

